/*Power Rank: 1.inline 2.internal 3.external*/
/*Color: Adobe photoshop/illustrator/Direct from online(html color codes,html color picker)/From inspect element/download pixie*/

*(universal selector)   /*ex: p {color:red;} here, p=selector,color=property,red=value*/
{
	
	color : red/#rrggbb/rgb(0,0,0)/rgba(0,0,0,alpha)/hsl(240,100%,50%)/hsla(9, 100%, 64%, 0.5) !important;
	background-color : red /#rrggbb/rgb(255,255,255)/rgba(0,0,0,0.6) alpha=transparent(0.0-1.0);
	background-image : url("images/back1.png") / url(images/back1.png);
	background-repeat : repeat-x/repeat-y/no-repeat;
	background-position : right top;
	background-attachment : fixed/scroll; /*default-scroll*/
	background-size : auto/300px 100px/100% 100%/cover/contain/initial/inherit;
	background: #ffffff url("img_tree.png") no-repeat right top;
	background : -webkit-linear-gradient(to top/to bottom/to right/to left,red,green,blue);
	background : -ms-radial-gradient(red 50%,green 40%,blue 10%); /*Online Gradient Generator-colorzilla.com*/

	border : 1px (solid/dotted/dashed/double) green !important;
	border-width : 5px;
	border-style : solid/dotted/dashed/double/groove/ridge/inset/outset/none/hidden;
	border-color :  red /#rrggbb/rgb(255,255,255)/rgba(0,0,0,0.6) alpha=transparent(0.0-1.0);
	border-collapse : separate(default)/collapse;
	border-right : 1px solid green;
	border-bottom : 2px dashed black;
	border-left : 1px dotted yellow;
	border-radius : 10px / 50px 20px;
	border-image: url(border.png) 50 round;

	margin : 0 auto/ 25px / 10px 25px /10px 10px 10px 10px;
	margin-top : 25px/auto;
	margin-right : 10px/auto;
	margin-bottom : 10px/auto;
	margin-left : 10px/auto;

	padding : 5px;
	padding : 8px 8px;
	padding : 10px 5px 5px 10px;
	padding-top : 5px;
	padding-right : 10px;
	padding-bottom : 5px;
	padding-left : 10px;

	width : 500px/ 50% /auto;
	max-width : 500px;
	min-width : 300px;
	height : 150px/50%/auto;
	max-height : 100px;
	min-height : 30px;
	line-height : 25px;

	border: 1px solid black;
	outline : 2px solid red;
	outline-width: thin/medium/thick/2px;
  	outline-style: solid/dotted/dashed/double/groove/ridge/inset/outset;
 	outline-color: red;
	outline-offset: 15px;

	text-align : right/left/center/justify;
	text-transform: uppercase/lowercase/capitalize;
	text-indent: 50px;
	text-decoration :overline/underline/line-through/none;
	text-shadow : 2px 2px/2px 2px red/2px 2px 5px blue;
	letter-spacing: 5px/-3px;
	line-height : 0.7px/1.8px;
  	
	font-size : 10px;
	font-family : 'Open Sans', sans-serif/"Times New Roman", Times, serif/Arial, Helvetica, sans-serif/"Lucida Console","Courier New", monospace;
	font-style : normal/italic/oblique;
	font-weight : normal/bold;
	font-variant : small-caps;
	font: italic small-caps bold 12px/30px Georgia, serif; /*font-size/line-height*/
	
	
	top : 0 / 180px / -100%;
	right : 0 / 100px;
	bottom: o / 250px;
	left : 0 / 100px / -99999px;

	transition : .5s;
	transition : all .5s;
	transition : all 0.5s ease / all 0.5s ease-out / all 0.5s cubic-bezier(0.1, 0.7, 1.0, 0.1);
	transition : background-color 2s, width 3s, height 1s;
	transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
	-webkit-transition : 0.5s;
	-moz-transition : 0.5s;
	-o-transition : 0.5s;
	-ms-transition : 0.5s;
	
   	transform : translateX(100px)/translateY(100px)/translate(100px, 300px);
 	transform : rotate(360deg)/rotateX(150deg)/rotateY(150deg)/rotateZ(90deg);
	transform : scaleX(2)/ scaleY(3) /scale(2,3); /* scale(2 times bigger-left&right, 3 times bigger-up&down)*/
	transform : skewX(30deg)/skewY(40deg)/skew(20deg);
	-webkit-transform : rotate(90deg);
	-moz-transform : ;
	-o-transform : ;
	-ms-transform : ;
   	
	
	box-shadow : 0px 8px 10px -2px red;
	opacity : 0.5;
	box-sizing : border-box;
	
	visibility : hidden;
	overflow : visible/hidden/scroll/auto;
	overflow-x:;
	overflow-y:;
	display : none/inline/block/inline-block;
	float : left/right;
	clear : left/right/both;
	position : static/relative/absolute/fixed/sticky;
	direction : ltr/rtl;
	
	cursor:alias/all-scroll/auto/cell/context-menu/col-resize/copy/crosshair/default/e-resize/-resize/-webkit-grab & grab/-webkit-	grabbing & grabbing/help/move/n-resize/ne-resize/nesw-resize/ns-resize/nw-resize/
	nwse-resize/no-drop/none/not-allowed/pointer/progress/row-resize/s-resize/se-resize/
	sw-resize/text/url(myBall.cur),auto/w-resize/wait/zoom-in/zoom-out;

	counter-reset: touhid;
	counter-increment: touhid;
	content: "Section " counter(touhid) ". ";

	.div{
	animation-name:;
	animation-duration: time|initial|inherit;
	animation-timing-function: linear|ease|ease-in|ease-out|ease-in-out|step-start|step-end|steps(int,start|end)|cubic-bezier(n,n,n,n)|initial|inherit;
	animation-delay: time|initial|inherit;
	animation-iteration-count: number|infinite|initial|inherit;
	animation-direction: normal|reverse|alternate|alternate-reverse|initial|inherit;
	animation-fill-mode: none|forwards|backwards|both|initial|inherit;
	animation-play-state: paused|running|initial|inherit;
	}

	@keyframes animation-name {
    from {property:value;}
    to {property:value;}
    }

}




<source src="horse.ogg" type="audio/ogg">
<source src="horse.mp3" type="audio/mpeg">
<source src="horse.wav" type="audio/wav">

<source src="horse.ogg" type="video/ogg">
<source src="horse.mp4" type="video/mp4">
<source src="horse.webm" type="video/webm">

<a target="_self|_blank|_parent|_top|framename">
<form action="/action_page.php|" method="get|post">

<input type="button">
<input type="checkbox">
<input type="color">
<input type="date">
<input type="datetime-local">
<input type="email">
<input type="file">
<input type="hidden">
<input type="image">
<input type="month">
<input type="number">
<input type="password">
<input type="radio">
<input type="range">
<input type="reset">
<input type="search">
<input type="submit">
<input type="tel">
<input type="text">
<input type="time">
<input type="url">
<input type="week">

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #555;
  outline: none;
}
input[type=text]:focus {
  background-color:lightblue;
}

<button type="button|submit|reset">

a:link {
  color: red;
}
a:visited {
  color: green;
}
a:hover {
  color: hotpink;
}
a:active {
  color: blue;
}

<head>
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>
<body>
<i class="fas fa-cloud" style="font-size:24px;"></i>
<i class="fas fa-cloud" style="font-size:36px;"></i>
<i class="fas fa-cloud" style="font-size:48px;color:red;"></i>
<i class="fas fa-cloud" style="font-size:60px;color:lightblue;"></i>
</body>


ul.class_name {list-style-type:none;}
ol.class_name {list-style-type:none;}

ul.a {list-style-type: circle;}
ul.b {list-style-type: disc;}
ul.c {list-style-type: square;}

ol.d {list-style-type: armenian;}
ol.e {list-style-type: cjk-ideographic;}
ol.f {list-style-type: decimal;}
ol.g {list-style-type: decimal-leading-zero;}
ol.h {list-style-type: georgian;}
ol.i {list-style-type: hebrew;}
ol.j {list-style-type: hiragana;}
ol.k {list-style-type: hiragana-iroha;}
ol.l {list-style-type: katakana;}
ol.m {list-style-type: katakana-iroha;}
ol.n {list-style-type: lower-alpha;}
ol.o {list-style-type: lower-greek;}
ol.p {list-style-type: lower-latin;}
ol.q {list-style-type: lower-roman;}
ol.r {list-style-type: upper-alpha;}
ol.s {list-style-type: upper-greek;}
ol.t {list-style-type: upper-latin;}
ol.u {list-style-type: upper-roman;}
ol.w {list-style-type: inherit;}


tr:nth-child(even) {background-color: #f2f2f2;}




/* Color code */
AliceBlue-#F0F8FF
AntiqueWhite-#FAEBD7
Aqua-#00FFFF
Aquamarine-#7FFFD4
Azure-#F0FFFF
Beige-#F5F5DC
Bisque-#FFE4C4
Black-#000000
BlanchedAlmond-#FFEBCD
Blue-#0000FF
BlueViolet-#8A2BE2
Brown-#A52A2A
BurlyWood-#DEB887
CadetBlue-#5F9EA0
Chartreuse-#7FFF00
Chocolate-#D2691E
Coral-#FF7F50
CornflowerBlue-#6495ED
Cornsilk-#FFF8DC
Crimson-#DC143C
Cyan-#00FFFF
DarkBlue-#00008B
DarkCyan-#008B8B
DarkGoldenRod-#B8860B
DarkGray-#A9A9A9
DarkGrey-#A9A9A9
DarkGreen-#006400
DarkKhaki-#BDB76B
DarkMagenta-#8B008B
DarkOliveGreen-#556B2F
DarkOrange-#FF8C00
DarkOrchid-#9932CC
DarkRed-#8B0000
DarkSalmon-#E9967A
DarkSeaGreen-#8FBC8F
DarkSlateBlue-#483D8B
DarkSlateGray-#2F4F4F
DarkSlateGrey-#2F4F4F
DarkTurquoise-#00CED1
DarkViolet-#9400D3
DeepPink-#FF1493
DeepSkyBlue-#00BFFF
DimGray-#696969
DimGrey-#696969
DodgerBlue-#1E90FF
FireBrick-#B22222
FloralWhite-#FFFAF0
ForestGreen-#228B22
Fuchsia-#FF00FF
Gainsboro-#DCDCDC
GhostWhite-#F8F8FF
Gold-#FFD700
GoldenRod-#DAA520
Gray-#808080
Grey-#808080
Green-#008000
GreenYellow-#ADFF2F
HoneyDew-#F0FFF0
HotPink-#FF69B4
IndianRed-#CD5C5C
Indigo-#4B0082
Ivory-#FFFFF0
Khaki-#F0E68C
Lavender-#E6E6FA
LavenderBlush-#FFF0F5
LawnGreen-#7CFC00
LemonChiffon-#FFFACD
LightBlue-#ADD8E6
LightCoral-#F08080
LightCyan-#E0FFFF
LightGoldenRodYellow-#FAFAD2
LightGray-#D3D3D3
LightGrey-#D3D3D3
LightGreen-#90EE90
LightPink-#FFB6C1
LightSalmon-#FFA07A
LightSeaGreen-#20B2AA
LightSkyBlue-#87CEFA
LightSlateGray-#778899
LightSlateGrey-#778899
LightSteelBlue-#B0C4DE
LightYellow-#FFFFE0
Lime-#00FF00
LimeGreen-#32CD32
Linen-#FAF0E6
Magenta-#FF00FF
Maroon-#800000
MediumAquaMarine-#66CDAA
MediumBlue-#0000CD
MediumOrchid-#BA55D3
MediumPurple-#9370DB
MediumSeaGreen-#3CB371
MediumSlateBlue-#7B68EE
MediumSpringGreen-#00FA9A
MediumTurquoise-#48D1CC
MediumVioletRed-#C71585
MidnightBlue-#191970
MintCream-#F5FFFA
MistyRose-#FFE4E1
Moccasin-#FFE4B5
NavajoWhite-#FFDEAD
Navy-#000080
OldLace-#FDF5E6
Olive-#808000
OliveDrab-#6B8E23
Orange-#FFA500
OrangeRed-#FF4500
Orchid-#DA70D6
PaleGoldenRod-#EEE8AA
PaleGreen-#98FB98
PaleTurquoise-#AFEEEE
PaleVioletRed-#DB7093
PapayaWhip-#FFEFD5
PeachPuff-#FFDAB9
Peru-#CD853F
Pink-#FFC0CB
Plum-#DDA0DD
PowderBlue-#B0E0E6
Purple-#800080
RebeccaPurple-#663399
Red-#FF0000
RosyBrown-#BC8F8F
RoyalBlue-#4169E1
SaddleBrown-#8B4513
Salmon-#FA8072
SandyBrown-#F4A460
SeaGreen-#2E8B57
SeaShell-#FFF5EE
Sienna-#A0522D
Silver-#C0C0C0
SkyBlue-#87CEEB
SlateBlue-#6A5ACD
SlateGray-#708090
SlateGrey-#708090
Snow-#FFFAFA
SpringGreen-#00FF7F
SteelBlue-#4682B4
Tan-#D2B48C
Teal-#008080
Thistle-#D8BFD8
Tomato-#FF6347
Turquoise-#40E0D0
Violet-#EE82EE
Wheat-#F5DEB3
White-#FFFFFF
WhiteSmoke-#F5F5F5
Yellow-#FFFF00
YellowGreen-#9ACD32
