/*h1,h6,p
{
	background-image:url("back1.png");
	background-repeat:no-repeat;
	background-size:cover;
}*/
.slide{
	width: 100%;
	height: 68px;
	direction: right;
	background-color:lightblue;
	color:white;
}
h6{
	font-weight:normal;color:red;
}
.tou{
	color:lightblue;line-height:10px;
}
.mota{
	font-weight:bold;
}
.dec{
	text-decoration:underline;
}
.fnt{
	font-family:"Times New Roman", Times, serif;
	font-size:20px;
	font-weight:bold;
	font-style:italic;
	text-transform:capitalize;
}
table{
	width:600px;
	text-align:center;
	background-color:#FFE4E1;
	
}
table,th,td{
	border-collapse:collapse;
	border:2px solid #FF6347;

}
table caption{
	background-color:#FFE4E1;
}
.head{
	background-color:#87CEEB;
	color:red;
}
#wrapper{
	margin-top:20px;
	background-image:url(media/back1.png);
	background-attachment:fixed;
	border:2px solid red;
	width:500px;
	height:250px;
	overflow:scroll;
}
#wrapper > p{
	color:blue;
}
.dis{
	background-color:red;
	display:block;
}
.div1{
	width:200px;
	height:100px;
	background-color:red;
	float:left;
}
.div2{
	width:200px;
	height:100px;
	background-color:green;
	float:right;
}
.div3{
	width:200px;
	height:100px;
	background-color:yellow;
	float:left;
	transition:background-color 2s, width 4s;
	transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
}
.div3:hover{
	background-color:blue;
	width:400px;
	transform:rotate(90deg);
}
.p_hover:hover{
	transition:3s;
	color:lightblue;
}
.a{
	list-style-type: decimal-leading-zero;
}
.b{
	list-style-type: upper-alpha;
}
.c{
	list-style-type: lower-alpha;
}
input[type=text] {
  width: 200px;
  height:20px;
  padding: 12px 20px;
  border: 2px solid green;
  border-radius:5px;
}
input[type=text]:focus {
  background-color:lightblue
}
input[type=submit],input[type=reset] {
  width: 80px;
  height:36px;
  padding: 5px;
  border: 2px solid green;
  border-radius:5px;
  color:green;
}
input[type=submit]:hover,input[type=reset]:hover {
  background-color:green;
  color:white;
}
.btn_type {
  width: 80px;
  height:36px;
  padding: 5px;
  border: 2px solid black;
  border-radius:5px;
  color:black;
}
.btn_type:hover {
  background-color:black;
  color:white;
}
textarea{
	background-color:lightblue;
	color:red;
}
.pass{
	width: 200px;
  height:20px;
  padding: 12px 20px;
  border: 2px solid green;
  border-radius:5px;
}
.pass:focus{
	background-color:lightblue
}
.fb{
	margin-top:20px;
	border:2px solid lightblue;
	float:left;
}
.clear{
	clear:left;
}
.linear-gradient{
	width:500px;
	height:130px;
	background: linear-gradient(to left,red,green,blue,yellow);
}
.radial-gradient{
	width:500px;
	height:300px;
	background: radial-gradient(red 40%,blue 10%,green 50%);
}
.animation1{
	margin-top:10px;
	width:150px;
	height:150px;
	background-color:red;
	position:relative;
	animation-name:mossadek;
	animation-duration:4s;
	animation-iteration-count:2;
	animation-delay:1s;
	animation-direction:alternate;
}
@keyframes mossadek {
    from {background-color:red;}
    to {
    	background-color:green;
    	border-radius:50%;
    }
}
.animation2{
	margin-top:10px;
	width:150px;
	height:150px;
	background-color:black;
	position:relative;
	animation-name:touhid;
	animation-duration:4s;
	animation-iteration-count:2;
	animation-delay:1s;
}
@keyframes touhid {
    0%{left:0;top:0;}
    25%{left:100px;top:0;}
    50%{left:100px;top:100px;}
    75%{left:0;top:100px;}
    100%{left:0;top:0;}
}
.audio{
	margin-top:20px;
	border:2px solid blue;
	border-radius:20px;
}
.video{
	margin-top:20px;
	width:300px;
	height:300px;
	border:2px solid blue;
	border-radius:20px;
	padding:5px;
	background-color:lightblue;
}
iframe{
	width:500px;
	height:315px;
	border:2px solid orange;
	border-radius:10px;
}
